/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  justify-items: center;
  padding: 102px 0 var(--page-block-end-padding);
  color: var(--main-color, #000);
  font-family: var(--main-font, "Inter-Variable"), sans-serif;
  font-size: var(--main-fs);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-font-weight);
}

.header {
  justify-items: center;
  margin-inline: auto;
  margin-block-end: 100px;
  border: 2px solid var(--main-color, #000);
  padding: var(--header-block-padding) var(--header-inline-padding);
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  text-transform: uppercase;
  background-color: var(--light-color, #fff);
  inline-size: var(--inline-size);
}

.header__link {
  display: block;
  margin-block-end: 20px;
  font-size: var(--header-fs);
  text-decoration: none;
}

.header__logo {
  inline-size: var(--logo-size);
}

.header__title {
  font-size: var(--header-subtitle-fs);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-inline: auto;
  inline-size: var(--inline-size);
}

.content__article {
  border: 2px solid var(--main-color, #000);
  background-color: var(--light-color, #fff);
}

.content__title {
  border-block-end: 2px solid var(--main-color, #000);
  padding: 5px 10px;
  font-size: var(--main-fs);
  font-variation-settings: 'wght' var(--title-font-weight);
}


.content__poster {
  position: relative;
  margin: 0;
  border-block-end: 2px solid var(--main-color, #000);
}

.content__image {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  inline-size: 100%;
}

.content__image-label {
  position: absolute;
  display: block;
  opacity: 0.5;
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: var(--label-fs);
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color), 1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  inset-inline-end: var(--label-inset-inline-end);
  inset-block-start: 25px;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--text-stroke-color)) or (-webkit-text-stroke: 1px var(--text-stroke-color))) {
  .content__image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.content__block {
  display: flex;
  flex-direction: column;
  gap: 27px;
  padding: 25px;
}

.content__text {
  line-height: var(--text-lh);
  letter-spacing: 0.4px;
}

.content__buttons {
  display: flex;
  justify-content: end;
  padding: 0px 25px 25px;
}

.card__icon-button {
  border: 2px solid transparent;
  background: transparent;
  cursor: pointer;
  block-size: 38px;
}

.card__like-button {
  border: 2px solid var(--main-color, #000);
  background: transparent;
  min-inline-size: 130px;
  min-block-size: 38px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid var(--main-color, #000);
  background-color: var(--text-stroke-color);
  min-inline-size: 335px;
  min-block-size: 51px;
}

.floppy-icon {
  mix-blend-mode: difference;
}

.save-button__icon {
  inline-size: 21px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.dialog__icon {
  inline-size: 39px;
  mix-blend-mode: normal;
}

.dialog {
  gap: 30px;
  padding: 31px 32px;
  color: var(--main-color, #000);
  min-inline-size: var(--dialog-inline-size);
}

@media (width <= 375px) {
  .dialog {
    padding: 32px 42px;
  }
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog__message {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: var(--label-fs);
  line-height: var(--dialog-lh);
  text-transform: uppercase;
}

.dialog::backdrop {
  opacity: 0.75;
  background-color: var(--main-color, #000);
}

@media (width <= 375px) {
  .save-button {
    flex-direction: column;
    min-inline-size: 306px;
    min-block-size: 80px;
  }
}

.filter-sepia {
  filter: sepia(0.4);
}

.filter-grayscale {
  filter: grayscale(0.7);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-blur-hue-rotate {
  filter: blur(2px) hue-rotate(90deg);
}

.filter-opacity {
  filter: opacity(42%);
}

.filter-invert {
  filter: invert(25%);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(75%);
}

.button {
  position: relative;
  padding: 0;
  overflow: hidden;
  color: var(--light-color, #fff);
  font-family: var(--accent-font, "PressStart2P"), fantasy;
  font-size: var(--label-fs);
  line-height: var(--button-lh);
  cursor: pointer;
  
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--main-color, #000);
  outline: none;
  transition: box-shadow 0.2s;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  display: block;
  background-color: var(--main-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: translateX(0%);
}

.dialog__button {
  border: 2px solid var(--main-color, #000);
  text-transform: uppercase;
  background-color: transparent;
  min-block-size: 38px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color, #000);
  transition: border 0.3s ease;
}

.sparks {
  opacity: 0;
  transform-origin: center;
}

.heart {
  transform-origin: center;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .heart {
  animation: change-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: change-opacity 0.3s 0.3s ease-in;
}
