/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2p";
  --main-font-weight: 400;
  --title-font-weight: 700;
  --main-color: #000;
  --inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --page-block-end-padding: 105px;
  --header-fs: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  --header-subtitle-fs: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --header-padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  --text-lh: 21px;
  --button-lh: 90%;
  --dialog-lh: 150%;
  --main-fs: 18px;
  --label-fs: 14px;
  --label-inset-inline-end: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem);
  --text-stroke-color: #fff;
  --dialog-inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  --bg-image: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, #d3d3d300 2px, #d3d3d300 4px),
  repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, #d3d3d300 2px, #d3d3d300 4px),
  linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --light-color: #fff;
  --contour-color: #000;
  --heart-color: #FF0000;
  --logo-size: clamp(21.438rem, 10.516vw + 18.973rem, 28.438rem);
}